// ################################################
// APP
// ################################################

// ------------------------------------------------
// MISC
// ------------------------------------------------
.block-content {
  img {
    @include img-fluid;
  }
}
.group{
    @include group;
}
.img-fluid {
    @include img-fluid;
}

// ------------------------------------------------
// GLOBAL
// ------------------------------------------------

html {
  word-break: normal;
  font-size: 120%;
  @include media-breakpoint-up(sm){
      font-size: 100%;
  }
}
body {
    background: #121726;
    font: calculate-rem($body-font-size)/1em $body-font-family;
    color: white;

}
a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

p {
  mix-blend-mode: exclusion;
  @include font-size(16);
  line-height: 1.7rem;
  @include media-breakpoint-up(md) {
    @include font-size(26);
    line-height: 2rem;
  }
}

#fullpage {
  @media (max-width: 1199.98px) {
    overflow: hidden;
  }
  .fp-tableCell {
    @include media-breakpoint-up(sm){
      padding: 2rem;
    }
    @include media-breakpoint-up(md){
      padding: 6rem;
    }
    @include media-breakpoint-up(xl){
      padding: 4rem 10rem;
    }
  }
}

.parallax1 {
  > img,
  > div {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    @include media-breakpoint-up(md) {
      width: 35vw;
    }
    @include media-breakpoint-up(lg) {
      width: 35vw;
    }
  }
  > img {
    height: 700px;
    width: auto;
    @include media-breakpoint-up(md) {
      height: 120vh;
    }
    @include media-breakpoint-up(xl) {
      height: 140vh;
    }
  }
}

#content-1,
#content-2,
#content-3,
#content-4 {
  @include media-breakpoint-down(lg) {
    height: auto !important;
    .fp-tableCell{
     height: auto !important;
    }
  }
}


#content-1 {
  height: 100vh !important;
  h1 {
    mix-blend-mode: exclusion;
    @include font-size(36);
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      @include font-size(72);
    }
  }
  .logo-site {
    margin: 1rem 0 8rem;
    img {
      width: 200px;
      mix-blend-mode: exclusion;
    }
  }

}
#scene {
  height: calc(100vh - 14rem);
  top: 7rem;
  right: 15%;
}
.img {
  width: 50%;
  @include media-breakpoint-up(md) {
    width: auto;
  }
}
#img1 {
  width: 200px;
  top: 40% !important;
  left: 60% !important;
  @include media-breakpoint-up(md) {
    top: 60% !important;
    left: 60% !important;
  }
  @include media-breakpoint-up(xl) {
    top: 40% !important;
    left: 85% !important;
  }
}
#img2 {
  top: 100% !important;
  left: 10% !important;
  @include media-breakpoint-up(md) {
    top: 100% !important;
    left: -50% !important;
  }
  @include media-breakpoint-up(xl) {
    top: 80% !important;
    left: 40% !important;
  }
}
#img3 {
  top: -10% !important;
  left: -20% !important;
  @include media-breakpoint-up(lg) {
    top: -10% !important;
    left: 10% !important;
  }
  @include media-breakpoint-up(xl) {
    top: 0% !important;
    left: 40% !important;
  }
}

h2 {
  mix-blend-mode: exclusion;
  @include font-size(26);
  font-weight: 600;
  margin-bottom: 1rem;
  @include media-breakpoint-up(md) {
    @include font-size(38);
  }
}

#content-2 {
  .logos {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    > div {
      margin: 2rem 0;
    }
  }
  .logo-a {
    img {
      width: 90px;
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
  .logo-b {
    text-align: right;

  }
  .logo-2 {
    img {
      width: 280px;
      @include media-breakpoint-up(sm) {
        width: 250px;
      }
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
  .logo-4 {
    text-align: right;
    img {
      width: 180px;
      @include media-breakpoint-up(sm) {
        width: 150px;
      }
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
  .content {
    @include media-breakpoint-up(sm) {
      width: 80%;
    }
    h2 {
      margin-bottom: 1rem;
      font-weight: 700;
    }
  }
}
#content-3 {
  .illu {
    margin-bottom: 2rem;
  }
  .sub {
    img {
      width: 150px;
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
}
#content-4 {
  @include media-breakpoint-down(md) {
    padding: 4rem 0;
  }
  img {
    position: relative;
    top: 0;
    left: 50%;
    width: 200%;
    transform: translate(-50%, 0) rotate(13deg);
    @include media-breakpoint-up(md) {
      position: absolute;
      width: 90vw;
      left: 35%;
      z-index: -1;
    }
  }
}
#content-6 {
  text-align: center;
}
