// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------

@font-face {
  font-family: "LemonMilk";
  src: url("font/lemon_milk/LemonMilk.otf");
}
@font-face {
  font-family: "LemonMilkItalic";
  src: url("font/lemon_milk/LemonMilkitalic.otf");
  font-style: italic;
}
@font-face {
  font-family: "LemonMilkBold";
  src: url("font/lemon_milk/LemonMilkbold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "LemonMilkBoldItalic";
  src: url("font/lemon_milk/LemonMilkbolditalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "LemonMilklight";
  src: url("font/lemon_milk/LemonMilklight.otf");
  font-weight: 300;
}
@font-face {
  font-family: "LemonMilklightitalic";
  src: url("font/lemon_milk/LemonMilklightitalic.otf");
  font-weight: 300;
  font-style: italic;
}
